{% extends 'base.html.twig' %}

{% block title %}Administratoriaus panelė{% endblock %}

{# {% block stylesheets %}
<link rel="stylesheet" href="../styles/styles.css" >
{% endblock %} #}

{% block body %}
  <h1 class="text-center mt-5 mb-4">Administratoriaus panelė</h1>
  {# <h3>Mano komandos:</h3>
  {% if data.myTeams %}
    <ul>
    {% for team in data.myTeams %}
      <li><a href="">{{ team.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
  <p>Jūs neturite sukūrę komandų...</p>
  {% endif %}
  <a class="btn btn-success" href="#" role="button">Sukurti komandą</a>

  <hr>

  <h3>Mano Turnyrai:</h3>
  {% if data.myTournaments %}
    <ul>
    {% for tournament in data.myTournaments %}
      <li><a href="">{{ tournament.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
  <p class="text-light">Jūs neturite sukūrę turnyrų...</p>
  {% endif %}
  <a class="btn btn-success" href="#" role="button">Sukurti turnyrą</a> #}

{% endblock %}