{% extends 'base.html.twig' %}

{% block title %}Negalite pasiekti šios infomacijos!{% endblock %}

{% block body %}
  <h1 class="text-center mt-5 mb-4">Negalite pasiekti šios infomacijos!</h1>
{% endblock %}