<footer class="page-footer font-small bg-dark pt-1 text-light" id="footer">
  <div class="footer-copyright text-center py-3">
    © Copyright 2018 - {{ date("Y")|date("Y") }}.
    tms.com All rights reserved.
  </div>
</footer>